name: CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'doc/**'
      - 'README.md'

  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'doc/**'
      - 'README.md'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - name: pull_docker
        shell: bash -l {0}
        run: |
          docker pull miyoocfw/toolchain-shared-uclibc:latest

      - uses: addnab/docker-run-action@v3
        with:
          image: miyoocfw/toolchain-shared-uclibc:latest
          options: -w /src -v /home/runner/work/rg35xx-app-st/rg35xx-app-st/src:/src -v /home/runner/work/rg35xx-app-st/rg35xx-app-st/out:/out
          shell: bash -l {0}
          run: |
            make

      - name: tar_release
        shell: bash -l {0}
        run: |
          mkdir st
          cp out/st.elf st/
          cp out/j2k.so st/
          cp src/res/inziu-iosevkaCC-SC-regular.ttf st/
          cp scripts/sw.sh st/
          cp scripts/Terminal.sh st/
          cp scripts/终端.sh st/
          cp scripts/终端.sh ./
          tar -czf release.tar.gz ./st ./Imgs ./终端.sh

      - name: Upload build asserts
        uses: actions/upload-artifact@v6
        with:
          name: release
          path: |
            release.tar.gz
